@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    background-color: #49516F;
    font-family: 'Lato', sans-serif;
    color: #EDD4B2;
}

.big-text {
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
}

.some-text {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
}

.break {
    margin-top: 20px;
    margin-bottom: 20px;
}

.article-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.article {
    width: min-content;
    height: fit-content;
    padding: 20px;
    margin: 40px;
}

.article-image {
    border-radius: 25px;
}

.article-break {
    margin-bottom: 15px;
}